.github-profile-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.user-container{
  width: 60%;
  text-align: center;
  margin-top: 5px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid black;
}

.user-container img{
  width: 150px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.input-wrapper{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.input-wrapper input{
  padding: 12px;
  font-size: 16px;
  border: none;
}

.input-wrapper button {
  border-radius: 10px;
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.name-container{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.name-container p{
  margin: 0px;
  font-size: 20px;
  font-weight: bold;
}

.profile-info div{
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  font-weight: bold;
}