.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

/*
flex-direction: column vs flex-direction: row;

justify-content and align-items are reversed
*/

.siderbar-link{
  height: 74px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.siderbar-link:hover{
  background-color: rgb(237, 227, 227);
}

.siderbar-link img{
  height: 24px;
  margin-bottom: 4px;
}

.siderbar-link p{
  font-size: 10px;
}