<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>StaffTrainingSystemLogin</title>
<link href="css/login.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/jQuery1.7.js"></script>
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="js/jquery1.42.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.js"></script>
<script type="text/javascript" src="js/Validform_v5.3.2_min.js"></script>

<script type="text/javascript" src="js/login.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
</head>

<body>
<div id="tab">

  <div class="tab_box">
    <div>

      <div class="user_error_box"></div>
      <div id="user_errorMsg" class="alert alert-danger"></div>
      <form action="" method="post" class="staff_login_error" id="user_loginForm">
        <div id="staff_username" class="login_username_div">
          <label>UserName:</label>
          <input type="text" id="staff_username_hide" name="username" placeholder="userName"/>
          <!--ajaxurl="demo/valid.jsp"-->
        </div>
        <div id="staff_password" class="login_password_div">
          <label>Password:</label>
          <input type="password" id="staff_password_hide" name="password" placeholder="password"/>
        </div>

        <div id="staff_login">
          <button id="login_btn" type="button">Login</button>
        </div>
      </form>
    </div>

  </div>
</div>

<div class="screenbg">
  <ul>
    <li><a href="javascript:;"><img src="images/0.jpg"></a></li>
    <li><a href="javascript:;"><img src="images/1.jpg"></a></li>
    <li><a href="javascript:;"><img src="images/2.jpg"></a></li>
  </ul>
</div>
</body>
</html>
