/*css of weather app start*/

/*
body{
  margin: 0;
  padding: 0;
}

.App{
  text-align: center;
  margin: 50px auto 0px;
  width: 91%;
  max-width: 700px;
  border-radius: 20px;
  height: 470px;
  padding: 20px 15px;
  background: rgb(0, 255, 166);
}
*/

/*css of weather app end*/